$def with(form)

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  
 <body>

 <body>
 <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link disabled" href="./tc">Topic Tagging</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="./">BERT</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link disabled" href="http://10.172.127.69:4567/">Question Decomposition</a>
  </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="/" >Model Compare</a>

  </li>

</ul>

 <h1 align="center">BERT</h1>
 <div class="container">
  <!-- Content here -->

    <form method="POST" >
  
  <div class="form-group">
    <label for="query">Query</label>
    <textarea class="form-control" id="query" name="query" rows="3">$:form['query'].value</textarea>
  </div>
  <div class="form-group">
    <label for="parent">LF</label>
    <textarea class="form-control" id="parent" name="parent" rows="10">$:form['parent'].value</textarea>
  </div>
  <div class="form-group">
    <label for="child">other</label>
    <textarea class="form-control" id="child" rows="10">$:form['child'].value</textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="submit" name="submit" action = "./st">Submit</button>
  </div>
  
    </form>
    </div>
 
 </body>
    





